<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Dein Konto - Rhinoshare</title>
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
        <link rel="icon" href="/img/RhinoLogoSmall.png">
    </head>
    <body>
        <img id="titleImageTest" src="/img/rhinoLogoBig.png" width="300" height="75">
        <ul class="navigationbar">
            <li class="navbaritem"><a href="/">Rhino-Übersicht</a></li>
            <li class="navbaritem"><a href="/">News</a></li>
            <li class="navbaritem"><a href="/rent">Ausleihen</a></li>
            <li class="navbaritem"><a href="/">Contact</a></li>
            <li class="navbaritem" href th:if="${loggedIn == 'false'}">
                <a href="/newaccount">Registrieren</a>
            </li>
            <li class="navbaritem" href th:if="${loggedIn == 'true'}">
                <a class="active" href="/edit" th:text="${surname}">Benutzer</a>
            </li>
            <li class="navbaritem"><input id="globalSearchField" type="text" placeholder="Suchen..."></li>
            <li class="navbaritem"><a href="/">Suchen</a></li>
            <li style="float: right;" class="navbaritem" href th:if="${loggedIn == 'false'}">
                <a href="/login">Einloggen</a>
            </li>
            <li style="float: right" class="navbaritem" href th:if="${loggedIn == 'true'}">
                <a href="/logout">Ausloggen</a>
            </li>
        </ul>
        <h1 class="title">Konto bearbeiten</h1>
        <p class="information">Hier kannst du deine hinterlegten Informationen ändern. Du siehst
        im Folgenden nochmal alle Details, die aktuell bei uns hinterlegt sind.</p>

        <table>
            <tr>
                <td>Vorname:</td>
                <td th:text="${surname}">Platzhalter</td>
            </tr>
            <tr>
                <td>Nachname:</td>
                <td th:text="${name}">Platzhalter</td>
            </tr>
            <tr>
                <td>RhinoID:</td>
                <td th:text="${username}">Platzhalter</td>
            </tr>
            <tr>
                <td>Email Adresse:</td>
                <td th:text="${email}">Platzhalter</td>
            </tr>
        </table>

        <form method="post" action="/edit">

        </form>
    </body>
</html>