<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ausleihen - Rhinoshare</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="icon" href="/img/RhinoLogoSmall.png">
</head>
<body>
<img id="titleImageTest" src="/img/rhinoLogoBig.png" width="300" height="75">
<ul class="navigationbar">
    <li class="navbaritem"><a href="/">Rhino-Übersicht</a></li>
    <li class="navbaritem"><a href="/">News</a></li>
    <li class="navbaritem"><a href="/artikel/">Artikel</a></li>
    <li class="navbaritem"><a class="active" href="/rent">Ausleihen</a></li>
    <li class="navbaritem"><a href="">Contact</a></li>
    <li class="navbaritem" href th:if="${loggedIn == 'false'}">
        <a href="/newaccount">Registrieren</a>
    </li>
    <li class="navbaritem" href th:if="${loggedIn == 'true'}">
        <a href="/edit" th:text="${surname}">Benutzer</a>
    </li>
    <li class="navbaritem"><input id="globalSearchField" type="text" placeholder="Suchen..."></li>
    <li class="navbaritem"><a href="/">Suchen</a></li>
    <li style="float: right;" class="navbaritem" href th:if="${loggedIn == 'false'}">
        <a href="/login">Einloggen</a>
    </li>
    <li style="float: right" class="navbaritem" href th:if="${loggedIn == 'true'}">
        <a href="/logout">Ausloggen</a>
    </li>

    <!--Ab hier die Ausleihe implementieren-->

</ul>






</body>
</html>