<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/mainpage}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

    <head>
        <title>Konflikte</title>
    </head>

    <body>
        <div class="container" layout:fragment="content" style="margin-top: 50px">
            <table th:each="conflict : ${conflicts}">
                <div style="margin:0; margin-right:10px; border:2px solid #dfdfdf;
                padding: 0em 1em 1em 1em; background-color:#FFFFFF;text-align:center">
                    <h3>Artkelname: </h3>
                    <div th:text="${conflict.lendedArticle.name}">0</div>
                    <h3>Beschreibung: </h3>
                    <div th:text="${conflict.lendedArticle.comment}">0</div>
                    <h3>Besitzer: </h3>
                    <div th:text="${conflict.lendedArticle.owner.name}">0</div>
                    <h3>Kaution: </h3>
                    <div th:text="${conflict.lendedArticle.deposit}">0</div>
                    <h3>Mietkosten: </h3>
                    <div th:text="${conflict.lendedArticle.rent}">0</div>
                    <h3>Info: </h3>
                    <div th:text="${conflict.warning}">0</div>
                </div>
            </table>
            <table th:each="yourConflict : ${yourConflicts}">
                <div style="margin:0; margin-right:10px; border:2px solid #dfdfdf;
                padding: 0em 1em 1em 1em; background-color:#FFFFFF;text-align:center">
                    <h3>Artkelname: </h3>
                    <div th:text="${yourConflict.lendedArticle.name}">0</div>
                    <h3>Beschreibung: </h3>
                    <div th:text="${yourConflict.lendedArticle.comment}">0</div>
                    <h3>Ausleihende Person: </h3>
                    <div th:text="${yourConflict.lendingPerson.name}">0</div>
                    <h3>Kaution: </h3>
                    <div th:text="${yourConflict.lendedArticle.deposit}">0</div>
                    <h3>Mietkosten: </h3>
                    <div th:text="${yourConflict.lendedArticle.rent}">0</div>
                    <h3>Info: </h3>
                    <div th:text="${yourConflict.warning}">0</div>
                </div>
            </table>
            <dr>>
                <a th:href=|"/"| role="button">Zur Übersicht</a>
            </dr>
        </div>
    </body>

</html>