<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/mainpage}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

    <head>
        <title>Anfrage - Rhinoshare</title>
    </head>

    <body>
        <div class="container" layout:fragment="content" style="margin-top: 50px">
            <h>Ihre Anfrage wurde an den Besitzer des Artikels übermittelt.</h>
            <br>
            <a th:href="|/|"> <button class="button_std_white" type="button">Zur Übersicht</button></a>
        </div>
    </body>

</html>