<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/mainpage}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

    <head>
        <title>Ausleihanfrage - Rhinoshare</title>
    </head>

    <body onload="calculateDateBorders()">
        <div class="container" layout:fragment="content" style="margin-top: 50px">
            <form th:action="@{/overview/inquiry}" method="post">

                <table>
                    <tr>
                        <th>Startdatum</th>
                        <td>
                            <input required class="loginTextfield" oninput="calculateDateBorders()" type="date" name="startDate" id="startDateID">
                        </td>
                    </tr>
                    <tr>
                        <th>Enddatum</th>
                        <td>
                            <input required class="loginTextfield" type="date" name="endDate" id="endDateID">
                        </td>
                    </tr>
                    <tr>
                        <th>Wofür möchtest du ausleihen?</th>
                        <td>
                            <input required type="text" name="requestComment">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="button_std" type="submit">Anfragen</button>
                        </td>
                        <td></td>
                    </tr>
                    <input type="hidden" name="requesterID" th:value="${requesterID}">
                    <input type="hidden" name="articleID" th:value="${articleID}">
                    <input type="hidden" name="requestValue" value="lending">
                </table>
            </form>

            <script th:inline="javascript">
                function calculateDateBorders() {
                    var today = new Date();
                    var dd = today.getDate();
                    var mm = today.getMonth() + 1; //January is 0!
                    var yyyy = today.getFullYear();
                    if (dd < 10) {
                        dd = '0' + dd
                    }
                    if (mm < 10) {
                        mm = '0' + mm
                    }

                    today = yyyy + '-' + mm + '-' + dd;
                    document.getElementById("startDateID").setAttribute("min", today);
                    var choosenStartDate = document.getElementById("startDateID").value;
                    document.getElementById("endDateID").setAttribute("min", choosenStartDate);
                }
            </script>
        </div>
    </body>

</html>