<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/mainpage}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

    <head>
        <title>Angebotene Artikel - Rhinoshare</title>
    </head>

    <body>
        <div class="container" layout:fragment="content" style="margin-top: 50px">

            <h1 th:if="${articles.size() > 0}">Sie bieten zur Ausleihe an:</h1>
            <h1 th:if="${articles.size() < 1}">Keine Artikel eingestellt</h1>
            <table th:each="article : ${articles}">
                <table class="request_overview">
                    <tr>
                        <th>Artikel</th>
                        <td th:text="${article.name}">...</td>
                    </tr>
                    <tr>
                        <th>Beschreibung</th>
                        <td th:text="${article.comment}">...</td>
                    </tr>
                    <tr>
                        <th>Kaution</th>
                        <td th:text="${article.deposit}">...</td>
                    </tr>
                    <tr>
                        <th>Mietkosten</th>
                        <td th:text="${article.rent}">...</td>
                    </tr>
                </table>
            </table>
        </div>
    </body>

</html>