<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/mainpage}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

    <head>
        <title>Übersicht</title>
    </head>

    <body onload="generateAlertPopup()">
        <div class="container" layout:fragment="content" style="margin-top: 50px">

            <a th:href="|/overview/lendings|" role="button">Ausleihen</a>
            <a th:href="|/overview/borrows|" role="button">Angebotene Artikel</a>
            <a th:href="|/overview/conflictPage|" role="button">Konflikte</a>
            <a th:href="|/overview/transaction|" role="button">Transaktionen</a>
            <a th:href="|/overview/proPay|" role="button">ProPay Account</a>
            <div>
                Deine Anfragen:
                <table th:each="request : ${requests}">
                    <div style="margin:0; margin-right:10px; border:2px solid #dfdfdf;
                padding: 0em 1em 1em 1em; background-color:#FFFFFF;text-align:center">
                        <h3>Anfragende Person: </h3>
                        <div th:text="${request.lendingPerson.name}">0</div>
                        <h3>Artikel: </h3>                                 <!-- href for the article -->
                        <div th:text="${request.lendedArticle.name}">0</div>
                        <h3>Warum diese Person den Artikel anfragt: </h3>
                        <div th:text="${request.lendedArticle.requestComment}">0</div>
                        <h3>Startdatum: </h3>
                        <div th:text="${request.formattedStartDate}">0</div>
                        <h3>Enddatum: </h3>
                        <div th:text="${request.formattedEndDate}">0</div>
                        <form th:action=|| method="post">
                            <fieldset>
                                <input type="hidden" name="lendingID" th:value="${request.lendingID}">
                                <input type="checkbox" id="yes" name="choice" value="accept">
                                <label for="yes">Annehmen</label>
                                <input type="checkbox" id="no" name="choice" value="decline">
                                <label for="no">Ablehnen</label>
                            </fieldset>
                            <button type="finish">Abschicken</button>
                        </form>
                    </div>
                </table>
            </div>

            <div>
                Deine zurückgegebenen Artikel:
                <table th:each="return : ${returns}">
                    <div style="margin:0; margin-right:10px; border:2px solid #dfdfdf;
                padding: 0em 1em 1em 1em; background-color:#FFFFFF;text-align:center">
                        <h3>Ausleihende Person: </h3>
                        <div th:text="${return.lendingPerson.name}">0</div>
                        <h3>Artikel: </h3>                                 <!-- href for the article -->
                        <div th:text="${return.lendedArticle.name}">0</div>
                        <form th:action=|overview method="post">
                            <fieldset>
                                <input type="hidden" name="lendingID" th:value="${return.lendingID}">
                                <input type="checkbox" id="yes2" name="choicereturn" value="accept">
                                <label for="yes2"> Annehmen</label>
                                <input type="checkbox" id="no2" name="choicereturn" value="decline">
                                <label for="no2">Ablehnen</label>
                            </fieldset>
                            <button type="finish">Abschicken</button>
                        </form>
                    </div>
                </table>

            </div>

            <div>
                Deine abgelehnten Artikel:
                <table th:each="denie : ${denies}">
                    <div style="margin:0; margin-right:10px; border:2px solid #dfdfdf;
                padding: 0em 1em 1em 1em; background-color:#FFFFFF;text-align:center">
                        <h3>Ausleihende Person: </h3>
                        <div th:text="${denie.lendingPerson.name}">0</div>
                        <h3>Artikel: </h3>                                 <!-- href for the article -->
                        <div th:text="${denie.lendedArticle.name}">0</div>
                        <div th:text="${denie.warning}">0</div>

                        <form th:action=|| method="post">
                            <input type="hidden" name="lendingID" th:value="${denie.lendingID}">
                            <button name="recognized" value="true" type="finish">submit</button>
                        </form>
                    </div>
                </table>

            </div>
            <script th:inline="javascript">
                function generateAlertPopup() {
                    if (/*[[${warning}]]*/) {
                        alert("You have a Lending that has to be returned!");
                    }
                }
            </script>
        </div>
    </body>

</html>