<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{mainpage}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

    <head>
        <title>Ausgeliehene Artikel - Rhinoshare</title>
    </head>

    <body>
        <div class="container" layout:fragment="content" style="margin-top: 50px">

            <h1 th:if="${lendings.size() > 0}">Deine ausgeliehen Artikel</h1>
            <h1 th:if="${lendings.size() < 1}">Keine Artikel ausgeliehen</h1>
            <table th:each="lending : ${lendings}">
                <table>
                    <tr>
                        <th>Artikel</th>
                        <td th:text="${lending.lendedArticle.name}"></td>
                    </tr>
                    <tr>
                        <th>Beschreibung</th>
                        <td th:text="${lending.lendedArticle.comment}"></td>
                    </tr>
                    <tr>
                        <th>Besitzer</th>
                        <td th:text="${lending.lendedArticle.owner.name} + ', ' + ${lending.lendedArticle.owner.surname}"></td>
                    </tr>
                    <tr>
                        <th>Kaution</th>
                        <td th:text="${lending.lendedArticle.deposit} + '€'"></td>
                    </tr>
                    <tr>
                        <th>Mietkosten</th>
                        <td th:text="${lending.lendedArticle.rent} + '€'"></td>
                    </tr>
                    <tr>
                        <th>Nachricht</th>
                        <td th:text="${lending.warning}"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <form th:action=|lendings| method="post">
                                <input type="hidden" name="lendingID" th:value="${lending.lendingID}">
                                <input type="hidden" name="articleID" th:value="${lending.lendedArticle.articleID}">
                                <button type="finish" class="button_std">Zurückgeben</button>
                            </form>
                            <a th:href="|/openConflict/${lending.lendingID}|" role="button">
                                <button class="button_std_red">Konflikt melden</button>
                            </a>
                        </td>
                    </tr>
                </table>
            </table>
        </div>
    </body>

</html>