<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{mainpage}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

    <head>
        <title>You're poor - Rhinoshare</title>
    </head>

    <body>
        <div class="container" layout:fragment="content" style="margin-top: 50px">
            <h1>Sorry, that you live in POVERTY you beggar</h1>
            <div class="messagebox_error">
                <a th:href="|/|" role="button">
                    <button class="button_std_white">Zurück</button>
                </a>
            </div>
        </div>
    </body>

</html>