<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/mainpage}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Overview</title>
</head>
<body>
<div class="container" layout:fragment="content" style="margin-top: 50px">

    <a th:href="@{/{username}(username = ${username})}" role="button">overview</a>
    <div>
        Your ProPay Account
        <div style="margin:0; margin-right:10px; border:2px solid #dfdfdf;
        padding: 0em 1em 1em 1em; background-color:#FFFFFF;text-align:center">
            <div th:text="${account.account}">0</div>
            Your ProPay Money:
            <div th:text="${account.amount}">0</div>
            Your Reservations
            <table th:each="reservation : ${account.reservations}">
                <div>Reservation costs:
                    <div th:text="${reservation.amount}">0</div>
                </div>
            </table>
        </div>
        <form th:action="@{/proPay/{username}(username = ${username})}" method="post">
            <label>
                how much € will you transfer to your ProPay Account
                <input type="number" name="amount">
            </label>
            <button type="submit">submit</button>
        </form>
    </div>
</div>

</body>
</html>