<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/mainpage}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

    <head>
        <title>ProPay Übersicht</title>
    </head>

    <body>
        <div class="container" layout:fragment="content" style="margin-top: 50px">

            <a th:href=|"/"| role="button">Zur Übersicht</a>
            <div>
                Dein ProPay Account
                <div style="margin:0; margin-right:10px; border:2px solid #dfdfdf;
                padding: 0em 1em 1em 1em; background-color:#FFFFFF;text-align:center">
                    <div th:text="${account.account}">0</div>
                    Kontostand:
                    <div th:text="${account.amount}">0</div>
                    Reservierungen:
                    <table th:each="reservation : ${account.reservations}">
                        <div>Reservierungskosten:
                            <div th:text="${reservation.amount}">0</div>
                        </div>
                    </table>
                </div>
                <form th:action=|"/proPay"| method="post">
                    <label>
                        Wieviel wollen Sie auf Ihr ProPay Konto einzahlen?
                        <input type="number" name="amount">
                    </label>
                    <button type="submit">Abschicken</button>
                </form>
            </div>
        </div>
    </body>

</html>