<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/mainpage}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

    <head>
        <title>Transaktionen - Rhinoshare</title>
    </head>

    <body>
        <div class="container" layout:fragment="content" style="margin-top: 50px">
            <h1 th:if="${givings.size() < 1 && recieves.size() < 1}">Keine Transaktionen</h1>
            <h1 th:if="${givings.size() > 0}">Ausgaben</h1>
            <table th:each="giving : ${givings}">
                <table class="request_overview">
                    <tr>
                        <th>Empfänger</th>
                        <td th:text="${giving.reciever.name}">...</td>
                    </tr>
                    <tr>
                        <th>Betrag</th>
                        <td th:text="${giving.amount}">...</td>
                    </tr>
                    <tr>
                        <th>Artikel</th>
                        <td th:text="${giving.article.name}">...</td>
                    </tr>
                    <tr>
                        <th>Datum</th>
                        <td th:text="${giving.formattedTransactionDate}">...</td>
                    </tr>
                </table>
            </table>

            <h1 th:if="${recieves.size() > 0}">Einnahmen</h1>
            <table th:each="recieve : ${recieves}">
                <table class="request_overview">
                    <tr>
                        <th>Sender</th>
                        <td th:text="${recieve.giver.name}">...</td>
                    </tr>
                    <tr>
                        <th>Betrag</th>
                        <td th:text="${recieve.amount}">...</td>
                    </tr>
                    <tr>
                        <th>Artikel</th>
                        <td th:text="${recieve.article.name}">...</td>
                    </tr>
                    <tr>
                        <th>Datum</th>
                        <td th:text="${recieve.formattedTransactionDate}">...</td>
                    </tr>
                </table>
            </table>
        </div>
    </body>

</html>