<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{mainpage}"
      xmlns:layout="http://www.w3.org/1999/xhtml" >

    <head>
        <title>Nachrichten - Rhinoshare</title>
    </head>

    <body>
        <div class="container" layout:fragment="content">
            <table>
                <th>Von</th>
                <th>Gesendet an</th>
                <th>Nachricht</th>
                <th:block th:each="message : ${listFrom}">
                    <tr>
                        <td th:text="${message.fromName}">...</td>
                        <td th:text="${message.toName}">...</td>
                        <td th:text="${message.context}">...</td>
                        <td>
                            <a th:href="|/deletechat/${message.getMessageID()}|"> <button class="btn btn-danger" type="button">Nachricht löschen</button></a>
                        </td>
                    </tr>

                </th:block>
            </table>

            <table>
                <th>Von</th>
                <th>An</th>
                <th>Nachricht</th>
                <th:block th:each="message : ${listTo}">
                    <tr>
                        <td th:text="${message.fromName}">...</td>
                        <td th:text="${message.toName}">...</td>
                        <td th:text="${message.context}">...</td>
                        <td>
                            <a th:href="|/answerchat/${message.getMessageID()}|"> <button class="btn btn-danger" type="button">Nachricht antworten</button></a>
                        </td>
                        <td>
                            <a th:href="|/deletechat/${message.getMessageID()}|"> <button class="btn btn-danger" type="button">Nachricht löschen</button></a>
                        </td>
                    </tr>

                </th:block>
            </table>
        </div>
    </body>

</html>