<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{mainpage}"
      xmlns:layout="http://www.w3.org/1999/xhtml" >

    <head>
        <title>Nachrichten - Rhinoshare</title>
    </head>

    <body>
        <div class="container" layout:fragment="content">
            <h1>Neue Nachricht</h1>
            <form method="post" th:object="${chatMessage}" enctype="multipart/form-data">
                <table>
                    <tr>
                        <th scope="row">An</th>
                        <td th:text="${recipient.getUsername()}">Username</td>
                    </tr>
                    <tr>
                        <th scope="row">Nachricht</th>
                        <td> <Input type="text" th:field="*{context}"/>  </td>
                    </tr>
                    <td><button type="submit" class="btn btn-primary">Nachricht versenden</button></td>
                    <td><a th:href="|/chat/|"><button class="btn btn-warning" type="button">Abbrechen</button></a></td>
                </table>
            </form>
        </div>
    </body>

</html>