<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/mainpage}"
      xmlns:layout="http://www.w3.org/1999/xhtml" >

    <head>
        <title>Nachrichten - Rhinoshare</title>
    </head>

    <body>
        <div class="container" layout:fragment="content">
            <form method="post" th:object="${chatMessage}">
                <table>
                    <th>Von</th>
                    <th>Gesendet an</th>
                    <th>Nachricht</th>
                    <tr>
                        <td th:text="${chatMessage.fromName}">...</td>
                        <td th:text="${chatMessage.toName}">...</td>
                        <td th:text="${chatMessage.context}">...</td>
                    </tr>
                </table>
                 <p>Möchten Sie die Nachricht wirklich löschen? Die Nachricht wird für alle Benutzer gelöscht!</p>
                <br>
                <td>
                    <button type="submit"  class="btn btn-danger">Löschen</button>
                    <a th:href="|/chat/|"> <button class="btn btn-warning" type="button">Abbrechen</button></a>
                </td>
            </form>
        </div>
    </body>

</html>