<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Ausgeliehene Geräte</title>
</head>
<body>
<p>Sie haben ausgeliehen !</p>
<table th:each="lending : ${lendings}">
    <div style="margin:0; margin-right:10px; border:2px solid #dfdfdf;
        padding: 0em 1em 1em 1em; background-color:#FFFFFF;text-align:center">
        <h3>Articlename =</h3>
        <div th:text="${lending.lendedArticle.name}">0</div>
        <h3>comment =</h3>
        <div th:text="${lending.lendedArticle.comment}">0</div>
        <h3>Person you are borrowing from =</h3>
        <div th:text="${lending.lendedArticle.ownerUser.name}">0</div>
        <h3>Deposit =</h3>
        <div th:text="${lending.lendedArticle.deposit}">0</div>
        <h3>Rent =</h3>
        <div th:text="${lending.lendedArticle.rent}">0</div>
        <h3>Info =</h3>
        <div th:text="${lending.warning}">0</div>
        <form th:action="@{/lendings/{id}(id = ${id})}" method="post">
            <input type="hidden" name="lendingID" th:value="${lending.lendingID}">
            <input type="hidden" name="articleID" th:value="${lending.lendedArticle.articleID}">
            <button type="finish">Return</button>
        </form>
    </div>
</table>
<!-- Artikelzurückgeben -->
</body>
</html>