<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
    <h1>Conflict Overview</h1>
</div>

<div class="container">
    <table class="table table-dark table-striped table-bordered">
        <thead>
        <td>LendingID</td>
        <td>Artikel</td>
        <td>Owner</td>
        <td>Borrower</td>
        </thead>
        <tbody>
        <tr th:each="lending: ${lendings}">
            <td th:text="${lending.lendingID}"/>
            <td th:text="${lending.lendedArticle.name}"/>
            <td th:text="${lending.lendingPerson.username}"/>
            <td th:text="${lending.lendedArticle.ownerUser.username}"/>
        </tr>
        </tbody>
    </table>
    <div class="align-right">
        <form method="post">
        <div class="form-group">
            <button type="submit" value="back" class="btn btn-dark" name="action">back</button>
            <input th:name="lendingID" type="text" />
            <button type="submit" value="show" class="btn" name="action">show conflict</button>
        </div>
        </form>
    </div>

</div>

</body>
</html>


