<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1>Open a Conflict</h1>
</div>
<form method="post">
    <div class="container">
        <div class="form-group">
            <label> Lending ID</label>
            <input th:name="lendingID" class="form-control" type="text" placeholder="insert lendingID">
        </div>
        <div class="form-group">
            <label>Problem:</label>
            <textarea th:name="description" class="form-control" id="conflictTextarea" rows="5"
                      placeholder="Describe your conflict here as precise as possible"></textarea>
        <div class="align-right">
            <input type="submit" value="back" name="action">
            <input type="submit" value="open" name="action">
        </div>
        </div>
    </div>
</form>
</div>

</body>
</html>


