<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{Admin/admin_overview}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

    <head>
        <title>Benutzerverwaltung - Rhinoshare</title>
    </head>

    <body>
        <div class="container" layout:fragment="content">
            <div>
                <a href="/admin/usermanagement">
                    <button class="button_std">Zurück</button>
                </a>
            </div>
            <form method="post" style="text-align: center;">
                <table class="tg">
                    <tr>
                        <td class="tg-lap0">Username:</td>
                        <td class="tg-lap0"><input th:name="username" type="text" th:placeholder="${person.username}"/></td>
                    </tr>
                    <tr>
                        <td class="tg-lap0">Nachname:</td>
                        <td class="tg-lap0"><input th:name="name" type="text" th:placeholder="${person.name}"/></td>
                    </tr>
                    <tr>
                        <td class="tg-lap0">Vorname:</td>
                        <td class="tg-lap0"><input th:name="surname" type="text" th:placeholder="${person.surname}"/></td>
                    </tr>
                    <tr>
                        <td class="tg-lap0">E-Mail Adresse:</td>
                        <td class="tg-lap0"><input th:name="email" type="email" th:placeholder="${person.email}"/></td>
                    </tr>
                    <tr>
                        <td class="tg-lap0">Straße:</td>
                        <td class="tg-lap0"><input th:name="street" type="text" th:placeholder="${person.address.street}"/></td>
                    </tr>
                    <tr>
                        <td class="tg-lap0">Stadt:</td>
                        <td class="tg-lap0"><input th:name="city" type="text" th:placeholder="${person.address.city}"/></td>
                    </tr>
                    <tr>
                        <td class="tg-lap0">Land:</td>
                        <td class="tg-lap0"><input th:name="country" type="text" th:placeholder="${person.address.country}"/></td>
                    </tr>
                    <tr>
                        <td class="tg-lap0">Hausnummer:</td>
                        <td class="tg-lap0"><input th:name="houseNumber" type="text" th:placeholder="${person.address.houseNumber}"/></td>
                    </tr>
                    <tr>
                        <td class="tg-lap0">Postleitzahl:</td>
                        <td class="tg-lap0"><input th:name="postCode" type="text" th:placeholder="${person.address.postCode}"/></td>
                    </tr>
                </table>
                <td><button type="submit" class="btn btn-primary">Aktuallisieren</button></td>
                <td><a th:href="|/|" > <button class="btn btn-warning" type="button">Abbrechen</button></a></td>
            </form>
        </div>
    </body>
</html>