<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Benutzerverwaltung - Rhinoshare</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="icon" href="/img/RhinoLogoSmall.png">
</head>
<body>
<img id="titleImageTest" src="/img/rhinoLogoBigAdmin.png" width="300" height="75">
<ul class="navigationbar">
    <li class="navbaritem"><a href="/admin">Überblick</a></li>
    <li class="navbaritem">
        <a href="/admin/usermanagement">Benutzerverwaltung</a>
    </li>
    <li class="navbaritem"><a href="/admin/articlemanagement">Artikelverwaltung</a></li>
    <li class="navbaritem"><a href="/admin/lendingmanagement">Ausleihen</a></li>
    <li class="navbaritem"><a class="active" href="/admin/conflicthandling">Konfliktlösung</a></li>
    <li class="navbaritem"><a href="/">Hauptseite</a></li>
    <li style="float: right" class="navbaritem">
        <a href="/logout">Ausloggen</a>
    </li>
</ul>

<div class="jumbotron text-center">
    <h1>Conflictplace</h1>
    <p th:text="${articleName}">Artikelname</p>
</div>

<div class="container">
    <div class="form-group">
        <label>Owning Person</label>
        <input class="form-control" th:placeholder="${owningPerson}" type="text" readonly>
        <label>Person who borrowed</label>
        <input class="form-control" th:placeholder="${borrowwPerson}" type="text" readonly>
        <label>Lending ID</label>
        <input class="form-control" th:placeholder="${lendingID}" type="text" readonly>
    </div>
    <form method="post">
        <div class="form-group">
            <div class="float-right">
                <button type="submit" name="action" value="back" class="btn btn-light">back</button>
                <button type="submit" name="action" value="winBorrower" class="btn btn-danger">mark as solved for Borrower</button>
                <button type="submit" name="action" value="winOwner" class="btn btn-success">mark as solved for Owner</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>