<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Benutzerverwaltung - Rhinoshare</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="icon" href="/img/RhinoLogoSmall.png">
</head>
<body>
<img id="titleImageTest" src="/img/rhinoLogoBigAdmin.png" width="300" height="75">
<ul class="navigationbar">
    <li class="navbaritem"><a href="/admin">Überblick</a></li>
    <li class="navbaritem">
        <a class="active" href="/admin/usermanagement">Benutzerverwaltung</a>
    </li>
    <li class="navbaritem"><a href="/admin/articlemanagement">Artikelverwaltung</a></li>
    <li class="navbaritem"><a href="/admin/lendingmanagement">Ausleihen</a></li>
    <li class="navbaritem"><a href="/admin">Konfliktlösung</a></li>
    <li class="navbaritem"><a href="/">Hauptseite</a></li>
    <li style="float: right" class="navbaritem">
        <a href="/logout">Ausloggen</a>
    </li>
</ul>
<div>
    <a href="/admin/usermanagement">
        <button class="button_std">Zurück</button>
    </a>
</div>
<table id="useroverview">
    <tr>
        <th>ID</th>
        <th th:text="${userDetails.userID}">Platzhalter</th>
        <th></th>
    </tr>
    <tr>
        <td>Vorname</td>
        <td>
            <form method="post" th:action="|/admin/usermanagement/changesurname/${userDetails.userID}|">
                <input class="loginTextfield" name="surname" type="text" th:placeholder="${userDetails.surname}">
                <td><button type="submit" class="button_std_white">Ändern</button></td>

            </form>
        </td>
    </tr>
    <tr>
        <td>Nachname</td>
        <td>
            <form method="post" th:action="|/admin/usermanagement/changename/${userDetails.userID}|">
                <input class="loginTextfield" name="name" type="text" th:placeholder="${userDetails.name}">
                <td><button type="submit" class="button_std_white">Ändern</button></td>
            </form>
        </td>
    </tr>
    <tr>
        <td>Strasse</td>
        <td>
            <form method="post" th:action="|/admin/usermanagement/changestreet/${userDetails.userID}|">
                <input class="loginTextfield" name="street" type="text" th:placeholder="${userDetails.address.street}">
                <td><button type="submit" class="button_std_white">Ändern</button></td>
            </form>
        </td>
    </tr>
    <tr>
        <td>Hausnummer</td>
        <td>
            <form method="post" th:action="|/admin/usermanagement/changehousenumber/${userDetails.userID}|">
                <input class="loginTextfield" name="housenumber" type="text" th:placeholder="${userDetails.address.houseNumber}">
                <td><button type="submit" class="button_std_white">Ändern</button></td>
            </form>
        </td>
    </tr>
    <tr>
        <td>Postleitzahl</td>
        <td>
            <form method="post" th:action="|/admin/usermanagement/changepostcode/${userDetails.userID}|">
                <input class="loginTextfield" name="postcode" type="text" th:placeholder="${userDetails.address.postCode}">
                <td><button type="submit" class="button_std_white">Ändern</button></td>
            </form>
        </td>
    </tr>
    <tr>
        <td>Wohnort</td>
        <td>
            <form method="post" th:action="|/admin/usermanagement/changecity/${userDetails.userID}|">
                <input class="loginTextfield" name="city" type="text" th:placeholder="${userDetails.address.city}">
                <td><button type="submit" class="button_std_white">Ändern</button></td>
            </form>
        </td>
    </tr>
    <tr>
        <td>Land</td>
        <td>
            <form method="post" th:action="|/admin/usermanagement/changecountry/${userDetails.userID}|">
                <input class="loginTextfield" name="country" type="text" th:placeholder="${userDetails.address.country}">
                <td><button type="submit" class="button_std_white">Ändern</button></td>
            </form>
        </td>
    </tr>
    <tr>
        <td>RhinoID</td>
        <td>
            <form method="post" th:action="|/admin/usermanagement/changeusername/${userDetails.userID}|">
                <input class="loginTextfield" name="username" type="text" th:placeholder="${userDetails.username}">
                <td><button type="submit" class="button_std_white">Ändern</button></td>
            </form>
        </td>
    </tr>
    <tr>
        <td>Email-Adresse</td>
        <td>
            <form method="post" th:action="|/admin/usermanagement/changeemail/${userDetails.userID}|">
                <input class="loginTextfield" name="email" type="text" th:placeholder="${userDetails.email}">
                <td><button type="submit" class="button_std_white">Ändern</button></td>
            </form>
        </td>
    </tr>
    <tr>
        <td>Score</td>
        <td>
            <form method="post" th:action="|/admin/usermanagement/changescore/${userDetails.userID}|">
                <input class="loginTextfield" name="score" type="number" th:placeholder="${userDetails.score}">
                <td><button type="submit" class="button_std_white">Ändern</button></td>
            </form>
        </td>
    </tr>
    <tr>
        <td>Eigene Artikel</td>
        <td th:text="${articles.size()}">...</td>
    </tr>
</table>
</body>
</html>