<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{Admin/admin_overview}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

    <head>
        <title>Benutzerverwaltung - Rhinoshare</title>
    </head>

    <body>
        <div class="container" layout:fragment="content">
            <div>
                <a href="/admin/usermanagement/add"><button class="button_std">Neuer Benutzer</button></a>
            </div>
            <table id="useroverview">
                <th>ID</th>
                <th>Name</th>
                <th>Vorname</th>
                <th>RhinoID</th>
                <th>Email</th>
                <th>Score</th>
                <th>Berechtigungen</th>
                <th>Aktion</th>
                <th:block th:each="person : ${userlist}">
                    <tr>
                        <td th:text="${person.userID}">...</td>
                        <td th:text="${person.name}">...</td>
                        <td th:text="${person.surname}">...</td>
                        <td th:text="${person.username}">...</td>
                        <td th:text="${person.email}">...</td>
                        <td th:text="${person.score}">...</td>
                        <td th:if="${person.role == 'ROLE_ADMIN'}">
                            <label class="red_marked">Admin</label>
                            <label class="green_marked">User</label>
                        </td>
                        <td th:if="${person.role == 'ROLE_USER'}">
                            <label class="green_marked">User</label>
                        </td>
                        <td th:if="${person.role == ''}">
                            <label class="yellow_marked">None</label>
                        </td>
                        <td>
                            <a th:href="|/admin/usermanagement/edit/${person.getUserID()}|">
                                <button class="button_std_white">Bearbeiten</button>
                            </a>
                            <a th:href="|/admin/usermanagement/delete/${person.getUserID()}|">
                                <button class="button_std">Löschen</button>
                            </a>
                        </td>
                    </tr>
                </th:block>
            </table>
        </div>
    </body>
</html>