<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Benutzerverwaltung - Rhinoshare</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="icon" href="/img/RhinoLogoSmall.png">
</head>
<body>
<img id="titleImageTest" src="/img/rhinoLogoBigAdmin.png" width="300" height="75">
<ul class="navigationbar">
    <li class="navbaritem"><a href="/admin">Überblick</a></li>
    <li class="navbaritem"><a class="active" href="/admin/usermanagement">Benutzerverwaltung</a></li>
    <li class="navbaritem"><a href="/admin">Konfliktlösung</a></li>
    <li class="navbaritem"><a href="/admin">Contact</a></li>
    <li class="navbaritem"><a href="/">Hauptseite</a></li>
    <li style="float: right;" class="navbaritem" href th:if="${loggedIn == 'false'}">
        <a href="/login">Einloggen</a>
    </li>
    <li style="float: right" class="navbaritem" href th:if="${loggedIn == 'true'}">
        <a href="/logout">Ausloggen</a>
    </li>
</ul>

<form method="post" action="/admin/newaccount">
    <table id="useroverview">
        <tr>
            <th>ID</th>
            <th th:text="${nextID}">Platzhalter</th>
        </tr>
        <tr>
            <td>Vorname</td>
            <td>
                <input class="loginTextfield" name="surname" type="text">
            </td>
        </tr>
        <tr>
            <td>Nachname</td>
            <td>
                <input class="loginTextfield" name="name" type="text">
            </td>
        </tr>
        <tr>
            <td>Straße</td>
            <td>
                <input class="loginTextfield" name="street" type="text">
            </td>
        </tr>
        <tr>
            <td>Hausnummer</td>
            <td>
                <input class="loginTextfield" name="housenumber" type="text">
            </td>
        </tr>
        <tr>
            <td>Postleitzahl</td>
            <td>
                <input class="loginTextfield" name="postcode" type="text">
            </td>
        </tr>
        <tr>
            <td>Wohnort</td>
            <td>
                <input class="loginTextfield" name="city" type="text">
            </td>
        </tr>
        <tr>
            <td>Land</td>
            <td>
                <input class="loginTextfield" name="country" type="text">
            </td>
        </tr>
        <tr>
            <td>RhinoID</td>
            <td>
                <input class="loginTextfield" name="username" type="text">
            </td>
        </tr>
        <tr>
            <td>E-Mail-Adresse</td>
            <td>
                <input class="loginTextfield" name="email" type="email">
            </td>
        </tr>
        <tr>
            <td>Passwort</td>
            <td>
                <input class="loginTextfield" name="password" type="text">
            </td>
        </tr>
        <tr>
            <td>Berechtigungen</td>
            <td>
                <input class="loginTextfield" name="role" type="text">
            </td>
        </tr>
    </table>
    <button type="submit">Hinzufügen</button>
</form>

<div>
    <a href="/admin/usermanagement">
        <button>Zurück</button>
    </a>
</div>
</body>
</html>