@font-face {
    font-family: Geneva;
    src: url("../fonts/Geneva.dfont");
}

/*Title*/

#titleImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#loginform {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding-bottom: 20px;
}

#logintitle {
    font-family: Geneva;
    font-size: 26px;
    margin-left: 20px;
}

.loginText {
    font-family: Geneva;
    margin-left: 20px;
    font-weight: bold;
}

.separator {
    font-family: Geneva;
    margin-top: 25px;
    text-align: center;
    font-size: 12px;
}

#forgotPassword {
    font-family: Geneva;
    font-size: 14px;
    color: #1092ed;
    margin-left: 20px;
    margin-top: 20px;
}

#globalSearchField[type=text] {
    font-family: Geneva;
    font-size: 18px;
    border-radius: 6px;
    width: 300px;
    padding: 6px 10px;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    height: 80%;
}

.loginTextfield[type=text], select {
    font-family: Geneva;
    font-size: 18px;
    width: 90%;
    padding: 6px 10px;
    margin-left: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
}

.loginTextfield[type=email], select {
    font-family: Geneva;
    font-size: 18px;
    width: 90%;
    padding: 6px 10px;
    margin-left: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
}

.loginTextfield[type=password], select {
    font-family: Geneva;
    font-size: 18px;
    width: 90%;
    padding: 6px 10px;
    margin-left: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
}

.loginTextfield[type=number], select {
    font-family: Geneva;
    font-size: 18px;
    width: 90%;
    padding: 6px 10px;
    margin-left: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
}

.button {
    font-family: Geneva;
    background-color: #1092ed; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 20px;
    width: 90%;
    height: 40px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button_std {
    font-family: Geneva;
    background-color: #1092ed;
    border: none;
    color: white;
    padding: 10px 32px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px;
    height: 40px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button_std_white {
    font-family: Geneva;
    background-color: #cdcdcd;
    border: none;
    color: #000000;
    padding: 10px 32px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px;
    height: 40px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover, .button_std:hover, .button_std_white:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonCreate {
    font-family: Geneva;
    background-color: #cdcdcd; /* Green */
    border: none;
    color: #000000;
    padding: 10px 32px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 20px;
    width: 90%;
    height: 40px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.buttonCreate:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#errorMessage {
    border: 1px solid #783730;
    font-family: Geneva;
    background-color: #d39e92;
    color: darkred;
    text-align: center;
    border-radius: 2px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 300px;
}

#logoutMessage {
    border: 1px solid #3a722e;
    font-family: Geneva;
    background-color: #a5d3a9;
    color: #138b07;
    text-align: center;
    border-radius: 2px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 300px;
}

.title {
    font-family: Geneva;
    margin-left: 30px;
}

.information {
    font-family: Geneva;
    margin-left: 30px;
}

table {
    margin-left: 30px;
    font-family: Geneva;
    border-collapse: collapse;
    width: 50%;
}

th, td {
    font-family: Geneva;
    text-align: left;
    padding: 8px;
}
/*Other Testsite*/

.navigationbar {
    background-image: url("../img/NavBarBackground.png");

    list-style-type: none;
    border-radius: 7px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e0e0e0;
}

.navbaritem {
    float: left;
}

.navbaritem a {
    display: block;
    color: #eeeeee;
    border-radius: 7px;
    font-family: Geneva;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.navbaritem a:hover:not(.active) {
    background-color: rgba(16, 146, 237, 0.51);
    transition-duration: 400ms;
}

.active {
    background-color: #1092ed;
}

.navigationbar_sub {
    margin-top: 5px;
    list-style-type: none;
    border-radius: 7px;
    height: 25px;

    overflow: hidden;
    background-color: #bfbfbf;
}

.navbaritem_sub {
    float: left;
}

.navbaritem_sub a {
    height: 100%;
    display: block;
    color: #0e0e0e;
    border-radius: 7px;
    font-family: Geneva;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}


.navbaritem_sub a:hover:not(.active) {
    background-color: rgba(16, 146, 237, 0.51);
    transition-duration: 400ms;
}


#titleImageTest {
    display: block;
    margin-left: 20px;
    margin-bottom: 10px;
}

.footer {
    position: fixed;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

/*Useroverview*/

#useroverview {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-top: 20px;
    width: 95%;
}

#useroverview td, #useroverview th {
    border: 1px solid #ddd;
    padding: 8px;
}

#useroverview tr:nth-child(even){background-color: #f2f2f2;}

#useroverview tr:hover {background-color: #ddd;}

#useroverview th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5176af;
    color: white;
}



