@font-face {
    font-family: Geneva;
    src: url("../fonts/OpenSans-Regular.ttf");
}

/*Title*/

#titleImage {
    margin-top: 6px;
    display: block;
    margin-left: 6px;
    margin-bottom: 6px;
}

#titleImage_login {
    display: block;
    margin: 6px auto;
}

#loginform {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding-bottom: 20px;
}

#logintitle {
    font-family: Geneva;
    font-size: 26px;
    margin-left: 20px;
}

.loginText {
    font-family: Geneva;
    margin-left: 20px;
    font-weight: bold;
}

.separator {
    font-family: Geneva;
    margin-top: 25px;
    text-align: center;
    font-size: 12px;
}

#forgotPassword {
    font-family: Geneva;
    font-size: 14px;
    color: #1092ed;
    margin-left: 20px;
    margin-top: 20px;
}

#globalSearchField[type=text] {
    font-family: Geneva;
    font-size: 18px;
    border-radius: 6px;
    width: 300px;
    padding: 6px 10px;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    height: 80%;
}

.loginTextfield[type=text], select {
    font-family: Geneva;
    font-size: 18px;
    width: 90%;
    padding: 6px 10px;
    margin-left: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
}

.loginTextfield[type=email], select {
    font-family: Geneva;
    font-size: 18px;
    width: 90%;
    padding: 6px 10px;
    margin-left: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
}

.loginTextfield[type=password], select {
    font-family: Geneva;
    font-size: 18px;
    width: 90%;
    padding: 6px 10px;
    margin-left: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
}

.loginTextfield[type=number], select {
    font-family: Geneva;
    font-size: 18px;
    width: 90%;
    padding: 6px 10px;
    margin-left: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
}

.button {
    font-family: Geneva;
    background-color: #1092ed; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 20px;
    width: 90%;
    height: 40px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button_std, .contentFragment .button_std {
    font-family: Geneva;
    background-color: #1092ed;
    border: none;
    color: white;
    padding: 10px 32px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px;
    height: 40px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button_std_white, .contentFragment .button_std_white {
    font-family: Geneva;
    background-color: #cdcdcd;
    border: none;
    color: #000000;
    padding: 10px 32px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px;
    height: 40px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button_std_red {
    font-family: Geneva;
    background-color: #cd3731;
    border: none;
    color: #ffffff;
    padding: 10px 32px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px;
    height: 40px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button_std_green {
    font-family: Geneva;
    background-color: #6acd3e;
    border: none;
    color: #ffffff;
    padding: 10px 32px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px;
    height: 40px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover, .button_std:hover, .button_std_white:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.contentFragment .button_std:hover, .contentFragment .button_std:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.contentFragment .button_std_white:hover, .contentFragment .button_std_white:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button_std_red:hover, .button_std_green:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonCreate {
    font-family: Geneva;
    background-color: #cdcdcd; /* Green */
    border: none;
    color: #000000;
    padding: 10px 32px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 20px;
    width: 90%;
    height: 40px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.buttonCreate:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#errorMessage {
    border: 1px solid #783730;
    font-family: Geneva;
    background-color: #d39e92;
    color: darkred;
    text-align: center;
    border-radius: 2px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 300px;
}

#logoutMessage {
    border: 1px solid #3a722e;
    font-family: Geneva;
    background-color: #a5d3a9;
    color: #138b07;
    text-align: center;
    border-radius: 2px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 300px;
}

.title {
    font-family: Geneva;
    margin-left: 30px;
}

.information {
    font-family: Geneva;
    margin-left: 30px;
}

table {
    margin-left: 30px;
    font-family: Geneva;
    border-collapse: collapse;
    width: 50%;
}

th, td {
    font-family: Geneva;
    text-align: left;
    padding: 8px;
}
/*Other Testsite*/

.navigationbar {
    background-image: url("../img/NavBarBackground.png");

    list-style-type: none;
    border-radius: 7px;
    margin-left: 6px;
    margin-right: 6px;
    padding: 0;
    overflow: hidden;
    background-color: #e0e0e0;
}

.navbaritem {
    float: left;
}


.searchbar {
    float: right;
    padding: 6px;
    border: none;
    width: 300px;
    height: 37px;
    margin-top: 6px;
    font-size: 17px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

#searchbutton {
    margin-top: 6px;
    margin-right: 10px;
    height: 37px;
    border-style: none;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

#searchbutton:hover {
    background: #0b7dda;
}

.navbaritem a {
    display: block;
    color: #eeeeee;
    border-radius: 7px;
    font-family: Geneva;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.navbaritem a:hover:not(.active) {
    background-color: rgba(16, 146, 237, 0.51);
    transition-duration: 400ms;
}

.active {
    background-color: #1092ed;
}


#titleImageTest {
    display: block;
    margin-left: 20px;
    margin-bottom: 10px;
}

.footer {
    position: fixed;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

/*Useroverview*/

#useroverview {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-top: 20px;
    width: 95%;
}

#useroverview td, #useroverview th {
    border: 1px solid #ddd;
    padding: 8px;
}

#useroverview tr:nth-child(even){background-color: #f2f2f2;}

#useroverview tr:hover {background-color: #ddd;}

#useroverview th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5176af;
    color: white;
}

.green_marked {
    color: white;
    border: 1px solid #41ae19;
    background-color: #41ae19;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
}

.red_marked {
    color: white;
    border: 1px solid #bf3732;
    background-color: #bf3732;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
}

.yellow_marked {
    color: white;
    border: 1px solid #bfa100;
    background-color: #bfa100;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
}

body {
    font-family: Geneva;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(16, 146, 237, 0.51);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 7px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Content in fragments*/

.contentFragment .container {
    margin: auto;
    width: 75%;
}

.contentFragment table {
    border-collapse: collapse;
    width: 100%;
}

.contentFragment th, .contentFragment td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.contentFragment tr:hover {background-color:#f5f5f5;}

.contentFragment input[type=text], .contentFragment input[type=number], select {
    font-family: Geneva;
    font-size: 18px;
    width: 90%;
    padding: 6px 10px;
    margin-left: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
}

.article-picture img {
    max-width: 130px;
    max-height: 90px;
    grid-area: picture;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #ffffff;
    padding: 10px;
    width: 100%;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 7px;
    width: 210px;
    height: 250px;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    padding-bottom: 2px;
    margin-top: 20px;
}

.grid-item:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 200ms;
}

.contentFragment .grid-container .grid-item .article-name {
    font-size: 18px;
}

.contentFragment .grid-container .grid-item .article-lending-price {

    font-size: 14px;
}

.contentFragment .grid-container .grid-item .article-price {

    font-size: 14px;

}

.contentFragment .grid-container .grid-item .article-location {

    font-size: 14px;

}


.article-picture {
    grid-area: picture;
}
.article-name {
    grid-area: name;
}

.article-lending-price {
    grid-area: price-lending;
}

.article-price {
    grid-area: price-buy;
}

.article-location {
    grid-area: location;
}

.details-button-article {
    grid-area: button;
}

.button_details {

}

.item-grid-article {
    display: grid;
    grid-template-areas: 'picture picture picture'
                         'name name price-lending'
                         'location location button';
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
}

.item-grid-article > div {
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
