<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/mainpage}"
      xmlns:layout="http://www.w3.org/1999/xhtml" >

    <head>
        <title th:text="${article.getName()} + ' - Rhinoshare'">Artikel - Rhinoshare</title>
    </head>

    <body>
        <div class="container" layout:fragment="content" style="margin-top: 50px">
            <h1 th:text="${article.getName()}">SampleName</h1>
            <table>
                <!-- Hier if einfügen für default Bild-->
                <tr th:if="!${article.imageIsEmpty()}">
                    <td></td>
                    <td> <img th:src="@{/image/{id} (id = ${article.getImageID()})}" width=auto height="300px"/></td>
                </tr>
                <tr>
                    <td>Beschreibung:</td>
                    <td th:text="${article.getComment()}">SampleComment</td>
                </tr>
                <tr>
                    <td>Person</td>
                    <td th:text="${article.getOwner().getUsername()}">SamplePerson</td>
                </tr>
                <tr>
                    <td>Kaution</td>
                    <td th:text="${article.getDeposit()}+'€'">SampleDeposit</td>
                </tr>
                <tr>
                    <td>Mietpreis</td>
                    <td th:text="${article.getRent()} +'€'">SampleRent</td>
                </tr>
                <tr th:if="${article.forSale == true}">
                    <td>Verkaufspreis:</td>
                    <td th:text="${article.getSellingPrice()} + '€'">SamplePrice</td>
                </tr>
                <tr>
                    <td>Verfügbarkeit</td>
                    <td th:switch="${article.isAvailable()}">
                        <span th:case="true"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
                        <span th:case="false"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Zum Verkauf</td>
                    <td th:switch="${article.isForSale()}">
                        <span th:case="true"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
                        <span th:case="false"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                    </td>
                </tr>
            </table>
            <br>
            <div th:if="${article.owner == user}">
                <a th:href="|/article/edit/${article.getArticleID()}|"> <button class="button_std_white" type="button">Artikel bearbeiten</button></a>
                <a th:href="|/article/delete/${article.getArticleID()}|"> <button class="button_std_red" type="button">Artikel löschen</button></a>
            </div>
            <div th:if="${article.owner != user} and ${article.available == true}">
                <a th:href="|/overview/lendingRequest/${article.articleID}|"> <button class="button_std" type="button">Artikel Ausleihen</button></a>
            </div>
            <div th:if="${article.owner != user} and ${article.forSale == true}">
                <a th:href="|/overview/saleRequest/${article.articleID}|"> <button class="button_std_red" type="button">Artikel kaufen</button></a>
            </div>
            <div>
                <a th:href="|/article/|"> <button class="button_std_white" type="button">Zurück zur Übersicht</button></a>
            </div>
        </div>
    </body>

</html>