<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Rhinoshare</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="icon" href="/img/RhinoLogoSmall.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Neuen Artikel anlegen</h1>
    <form method="post" th:object="${article}" enctype="multipart/form-data" action="">
        <table>
            <tr>
                <th scope="row">Name</th>
                <td> <Input type="text" th:field="*{name}"/>  </td>
            </tr>
            <tr>
                <th scope="row">Beschreibung</th>
                <td> <Input type="text" th:field="*{comment}"/> </td>
            </tr>
            <tr>
                <th scope="row">Kaution</th>
                <td> <Input type="number" th:field="*{deposit}"/>  </td>
            </tr>
            <tr>
                <th scope="row">Mietpreis</th>
                <td> <Input type="number" th:field="*{rent}"/> </td>
            </tr>
            <tr>
                <th scope="row">Bild zum hochladen auswählen:</th>
                <td> <Input th:field="*{file}" type="file"/> </td>
            </tr>
            <tr>
                <th scope="row">Verfügbar?</th>
                <td> <Input type="checkbox" th:field="*{available}"/> </td>
            </tr>
            <th scope="row"></th>
            <td><button type="submit" class="btn btn-primary">Neuen Artikel anlegen</button></td>
            <td><a th:href="|/article/|"><button class="btn btn-warning" type="button">Abbrechen</button></a></td>
        </table>
    </form>
</div>
</body>

</html>