<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/mainpage}"
      xmlns:layout="http://www.w3.org/1999/xhtml" >
<head>
    </head>

<body>
    <div class="container" layout:fragment="content" style="margin-top: 50px">
        <h1 class="display-5">Suche nach <span th:text="|'${query}'|"></span></h1>
        <div class="row mb-3">
            <div class="col-md-6"  th:each="article:${articles}">
                <table class="table table-hover">
                    <tr>
                        <td>Artikel:</td>
                        <td th:text="${article.getName()}"></td>
                    </tr>
                    <tr th:if="${article.image != null}">
                        <td>Artikelbild</td>
                        <td> <img th:src="@{/image/{id} (id = ${article.getImage().get(0).getImageID()})}" width="200px" height=auto/></td>
                    </tr>
                    <tr>
                        <td>Mietpreis:</td>
                        <td th:text="${article.getRent()} + '€'"></td>
                    </tr>
                    <tr th:if="${article.forSale == true}">
                        <td>Verkaufspreis:</td>
                        <td th:text="${article.getSellingPrice()} + '€'"></td>
                    </tr>
                    <tr>
                        <td><a th:href="|/article/${article.articleID}|"><button class="btn btn-success" type="button">Zum Artikel</button></a></td>
                    </tr>
                </table>
            </div>
      </div>
    <a th:href="|/article/|"><button class="btn btn-primary" type="button">Zurück zur Übersicht</button></a>
</div>
</body>

</html>