<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{mainpage}"
      xmlns:layout="http://www.w3.org/1999/xhtml" >

    <head>
        <title>Suche - Rhinoshare</title>
    </head>

    <body>
        <div class="container" layout:fragment="content" style="margin-top: 20px">
            <h1 class="display-5">Suche nach <span th:text="|'${query}'|"></span></h1>
            <div class="grid-container">
                <a th:href="|/article/${article.articleID}|" class="grid-item" th:each="article:${articles}">
                    <div class="card">
                        <div class="article-picture" th:if="!${article.imageIsEmpty()}">
                            <img th:src="@{/image/{id} (id = ${article.getImageID()})}" alt="Avatar" style="height: 180px">
                        </div>
                        <div class="article-picture" th:if="${article.imageIsEmpty()}">
                            <img src="/img/placeholder_picture.png" alt="Avatar" style="height: 180px">
                        </div>
                        <div style="width: 176px; padding-left: 2px; padding-right: 2px">
                            <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><b class="articlename" th:text="${article.getName()}">...</b></div>
                            <p class="article-lending-price">
                                <label th:if="${article.getRent() > 0}" class="green_marked" th:text="${article.getRent()} + '€'">...</label>
                                <label th:if="${article.getSellingPrice() > 0}" class="yellow_marked" th:text="${article.getSellingPrice()} + '€'">...</label>
                                <br>
                                <label style="line-height: 1.5;" th:text="${article.getCity()}" >...</label>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </body>

</html>