<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{mainpage}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
    <head>
        <title>Propay Error - Rhinoshare</title>
    </head>

    <body>
        <div class="container" layout:fragment="content" style="margin-top: 50px">
            <h1>Da ist etwas schief gelaufen...</h1>
            <div class="messagebox_error">
                Grund:
                <div th:text="${error}">0</div>
                <a th:href="|/|" role="button">
                    <button class="button_std_white">Zurück</button>
                </a>
            </div>
        </div>
    </body>

</html>