<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/RhinoLogoSmall.png">
    <title>Rhinoshare - Share Everything!</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
</head>
<body>
<img id="titleImage" src="/img/rhinoLogoBig.png" width="300" height="75">

<div class="justifyrbold">Share Everything!</div>

<br>
<br>
<br>
<br>

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a class="active", href="#artikel">Artikel</a></li>
    <li><a href="#contact">Kontakt</a></li>
    <li style="float:right"><a class="active" href="#about">Über uns</a></li>
</ul>

<br>
<br>
<br>

<div>
    <p class="centerbold">Willkommen auf Rhinoshare!</p>
    <p class="center">der inniovativen Plattform für den Verleih!</p>
    <p class="center">Hier findest du alle Artikel!</p>
</div>


    <div class="row">
        <div class="column">
            <div class="container">
            <img src="/img/bild1.jpg" style="width:100%"><div class="middle">
                <div class="overlay"><a href="#beschreibung">Beschreibung</a></div>
            </div>
        </div>
        </div>

        <div class="row">
            <div class="column">
                <div class="container">
                    <img src="/img/bild2.png" style="width:100%"><div class="middle">
                    <div class="overlay"><a href="#beschreibung">Beschreibung</a></div>
                </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>