<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dein Konto - Rhinoshare</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="icon" href="/img/RhinoLogoSmall.png">
</head>
<body>
<img id="titleImageTest" src="/img/rhinoLogoBig.png" width="300" height="75">
<ul class="navigationbar">
    <li class="navbaritem"><a href="/">Rhino-Übersicht</a></li>
    <li class="navbaritem"><a href="/">News</a></li>
    <li class="navbaritem"><a href="/artikel/">Artikel</a></li>

    <li class="navbaritem"><a href="/rent">Ausleihen</a></li>
    <li class="navbaritem"><a href="/">Contact</a></li>
    <li class="navbaritem" href th:if="${loggedIn == 'false'}">
        <a href="/newaccount">Registrieren</a>
    </li>
    <li class="navbaritem" href th:if="${loggedIn == 'true'}">
        <a class="active" href="/edit" th:text="${surname}">Benutzer</a>
    </li>
    <li class="navbaritem"><input id="globalSearchField" type="text" placeholder="Suchen..."></li>
    <li class="navbaritem"><a href="/">Suchen</a></li>
    <li style="float: right;" class="navbaritem" href th:if="${loggedIn == 'false'}">
        <a href="/login">Einloggen</a>
    </li>
    <li style="float: right" class="navbaritem" href th:if="${loggedIn == 'true'}">
        <a href="/logout">Ausloggen</a>
    </li>
    <li style="float: right" class="navbaritem" href th:if="${loggedIn == 'true'}">
        <a href="/openConflict">Open Conflict</a>
    </li>
</ul>
<body>
<body>

<div class="jumbotron text-center">
    <h1>Conflictplace</h1>
    <p th:text="${articleName}">Artikelname</p>
</div>

<div class="container">
    <div class="form-group">
        <label>Owning Person</label>
        <input class="form-control" th:placeholder="${owningPerson}" type="text" readonly>
        <label>Person who borrowed</label>
        <input class="form-control" th:placeholder="${borrowwPerson}" type="text" readonly>
        <label>Lending ID</label>
        <input class="form-control" th:placeholder="${lendingID}" type="text" readonly>
    </div>
    <form method="post">
    <div class="form-group">
        <div class="float-right">
            <button type="submit" name="action" value="back" class="btn btn-light">back</button>
            <button type="submit" name="action" value="winBorrower" class="btn btn-danger">mark as solved for Borrower</button>
            <button type="submit" name="action" value="winOwner" class="btn btn-success">mark as solved for Owner</button>
        </div>
    </div>
    </form>
</div>
</body>
</html>


