<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{mainpage}"
      xmlns:layout="http://www.w3.org/1999/xhtml" >

    <head>
        <title>Konflikt - Rhinoshare</title>
    </head>

    <body>
        <div class="jumbotron text-center">
            <h1>Konflikt eröffnen</h1>
        </div>
        <div>
            <form method="post">
                <div class="container">
                    <div class="form-group">
                        <p></p>
                        <p th:text="${error} + ''"/>
                        <p></p>
                        <label>AusleihID</label>
                        <input th:name="lendingID" class="form-control" type="number" th:placeholder="${id}" readonly>
                    </div>
                    <div class="form-group">
                        <label>Nachricht:</label>
                        <textarea th:name="description" class="form-control" required="required" id="conflictTextarea" rows="5"
                                  placeholder="Beschreiben Sie Ihr Problem so präzise wie möglich."></textarea>
                    <div class="align-right">
                        <input type="submit" value="open" name="action">
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </body>

</html>


